@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin for-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop {
  @media (min-width: 1800px) {
    @content;
  }
}
@include for-big-desktop {
  .banner {
    justify-content: space-between;
    max-height: 70vh;
    .figures {
      position: relative;
      max-width: 900px;
      // margin: auto;
      .bigS {
        width: 600px;
        height: 600px;
        background: #ffd700;
        // margin: auto;
      }

      .lineS {
        width: 900px;
        height: 70px;
        position: absolute;
        background: transparent;
        border: 2.5px solid #ffd700;
        top: 5rem;
        z-index: 0;
      }
      .fillS {
        width: 800px;
        height: 70px;
        position: absolute;
        background: #0073b6;
        top: 6rem;
        z-index: 1;
      }
    }
  }
}
@include for-tablet-landscape {
  html {
    overflow: unset;
  }
  .layout{
        background-image: url("../images/forms.png");
    background-position: center;
    background-size: contain;
  }
  body{
    position: relative;

    .Contactbanner{
      display: none;
    }
 
  .navigation.screen {
    position: relative;
    left: unset;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  //  max-width: 600px;
  //  display: none;
  width: 400px;

  .square {
display: none;
  }
nav{
  width: 100%;
  margin: auto;
a{
  padding:0 2rem;
}  }}

  .banner {
    min-height: 50vh;
    padding: 4rem 0;
    display: block;
    &_title {
      width: 100%;
      h1 {
        margin: auto auto;
      }
    }
    .figures.hide {
      display: none;
    }
  }
  .content_title {
    margin: auto;
    &::before {
      content: "";
      max-width: 100px;
    }
  }
  .about {
    flex-direction: column-reverse;
    height: unset;
    &_image {
      width: 50%;
    }
    .content {
      .circle,
      .outlineCircle {
        display: none;
      }
      &_title {
        text-align: center;
        width: 100%;
        align-self: flex-start;
      }
      .content_text{
        max-width: 35ch;

      }
    }
  }
  #work {
    flex-direction: column;
    height: unset;
    padding: 5rem 0;
    .logo_container{
        height: 100%;
    .logos {
      width: 300px;
      height: 300px;
      .logo {
        &_image {
          flex: 1 1 300px;
          width: 300px;
          height: 300px;
        }
      }
    }
    }
  
  }

  #contact {
    // height: 100vh;
    height: unset;
    padding: 5rem 0;
    .Mailcontainer {
      flex-direction: column;
      width: 100%;
      margin: auto;
      position: unset;
      height: unset;
      .Contact_text {
        margin: auto;
        max-width: 35ch;
        p {
          font-size: 1.2rem;
        }
        .square {
          display: none;
        }
      }
      .lang {
        display: none;
      }
      .form_container{
        position: unset;
        width: 100%;
    
      form {
        width: 100%;
      }  }
    }
    
  }
  .landingpage{
  display: grid;
  place-items: center;
  .title{
    display: none;
  }
  }
 .landingpage_nav{
   flex-direction: column;
   margin: auto;
   &_circle,&_triangle,&_square{
    max-width: 200px;
     max-height: 200px;
   }
 } }
}
