@import "normalize.css";
@import "mediaQueries.scss";
@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "bahnschrift";
  src: url("../Bahnschrift-Font-Family/BAHNSCHRIFT1.TTF") format("truetype"); /* Safari, Android, iOS */
}

h1,
h2,
h3,
h4 {
  font-family: "bahnschrift";
  color: black;
  font-size: 4rem;
  margin: 0;
  z-index: 3333;
}

p,
a,
label {
  font-family: "bahnschrift";
  color: #707070;
  z-index: 3333;
  font-size: 1.5rem;
}
section {
  @include center;
  justify-content: space-evenly;
  // height: 100vh;
  height: 100%;

  padding: 8rem 0
}
.banner {
  @include center;
  max-width: 1200px;
  margin: auto;
  text-align: center;

  &_title {
    margin-left: auto;
    h1 {
      color: #707070;
      margin-right: auto;
      font-size: 3rem;
      margin-left: 1rem;
    }
  }
}

input,
textarea {
  font-family: "bahnschrift";
  color: black;
}
